/* You can add global styles to this file, and also import other style files */
div.force-height{
  min-height: 68vh;
}

.input-field div.error{
  position: relative;
  top: -1rem;
  left: 0;
  font-size: 0.8rem;
  color:#FF4081;
}

.card-content .collapsible li .collapsible-header {
  padding-left: 0;
}

.card.horizontal .card-stacked .card-content .collapsible{
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.card.horizontal .card-stacked .card-content {
  padding-top: 0;
}
.card.horizontal .card-stacked .card-title {
  padding-left: 24px
}

.card.horizontal .card-image {
  width: 25%
}

.card.horizontal .card-image img {
  width: 100%
}

div.force-height{
  min-height: 68vh;
}
